.block1{
height:100px;
width:100px;
border:1px solid black;
background-color: aqua;
padding:5px;
margin:2px;
flex:1;
}
#container1{
  display: flex;
  border:1px solid #FF0234;

}
.block2{
  height:300px;
  width:300px;
  border:1px solid black;
  background-color:peachpuff;
  padding:5px;
  margin:2px;
  flex:1;
  
}

#container2{
  display:flex;
  border:1px solid black;
  width:50%;
  min-height: 200px;
}
#container3{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  align-items: center;
  
}
.block3{
  height: 130px;
  width: 250px;
  border:1px solid blue;
  padding:4px;
  margin:4px;
  background-color:aquamarine;
  flex:1;
}
#parent{
  display: flex;
  
}