#container{
    display:flex;
    border:1px solid black;
    height: 200px;
    width:1000px;
}
div{
    height: 100px;
    width:100px;
    background-color: beige;
    border: 1px solid black;
    margin:10px;
    opacity:10%;
    border-radius: 10px;
    box-shadow: 5px 10px;
}